<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
</head>
<body>
<center>
<h1>This is the recipes page</h1>
<h2 style="padding-top: 3%;">
      Are you hungry? Lets see what you can cook up <br>
  </h2>
<form action="/nutrition" method = "post">
      <div class="input-group mb-3" style="max-width: 50%;">
          <input type="text" class="form-control" placeholder="Apple, carrot, potato" aria-label="Ingredients" aria-describedby="button-addon2" name="ingredients">
		  <input type="text" class="form-control" placeholder="2" aria-label="Ingredients" aria-describedby="button-addon2" name="amount">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div>          
      </div>
  </form>
  
</center>
</body>
</html>