<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
</head>
<body>
<center>
<h1>This is the recipes nutrition page</h1>
<h2 style="padding-top: 3%;">
      Looking to find nutrition for recipes? Lets see what you can look up <br>
  </h2>
<form action="/nutrition" method = "post">
      <div class="input-group mb-3" style="max-width: 50%;">
          <input type="text" class="form-control" placeholder="Apple, carrot, potato" aria-label="Ingredients" aria-describedby="button-addon2" name="recipe">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div>          
      </div>
  </form>
  

  
  {%for i in range(0, len)%} 
<p> {{nutrient_name[i]}}  {{ nutrients_amount[i]}} {{nutrients_unit[i] }} Percentage of Daily needs = {{recipe_nutrients_Dailyneeds[i]}}  </p>
{%endfor%}
</center>
</body>
</html>